/* место для вашего кода */

.header {
	width: 1052px;
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 92px 24px 96px;
}

.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-logo {
	width: 148px;
	height: 105px;
	display: flex;
	justify-items: center;
}
