/* начало шапки */

.header {
	margin: 0;
	padding: 92px 50px 96px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
}

/* меню начало */

.header__menu {
	display: grid;
	align-items: center;
}

.header__links-list {
	display: flex;
	list-style-type: circle;
}

.header__links-list li {
	text-transform: lowercase;
	margin-left: 33px;
}
.header__links-list .header__links-list-item_no-bullet  {
	margin-left: 0px;
	list-style-type: none;
}


.header__links-list-item a {
	letter-spacing: 0.5px;
}


.header__link_active {
	text-decoration: 0;
}

.header__link {
	border-bottom: 1px solid #000;
	text-decoration: 0;

}

/* меню конец */

.header__logo-image {
	width: 148px;
	height: 105px;
}

.header__address {
	margin-top: 8px;
    margin-right: 36px;
	justify-self: end;
	height: 98px;
	width: 206px;
}

.header__address  a {
	text-decoration: 0;
	border-bottom: 1px solid #000
}

.address {
	font-style: normal;
	border-bottom: 0;
}

/* конец шапки */


/* секция 1 начало */

.cover {
	display: block;
	height: 757px;
	background-image: url("../images/cover.jpg");
}

/* секция 1 конец */
