/* свойство самой шапки начало */

.header {
	margin: 0;
	padding: 92px 50px 90px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
}

/* свойства меню начало */

.header__menu {
	display: grid;
	align-items: center;
}

.header__links-list {
	display: flex;
	list-style-type: circle;
}

.header__links-list li {
	text-transform: lowercase;
	margin-left: 32px;
}
.header__links-list .header__links-list-item_no-bullet  {
	margin-left: 0px;
	list-style-type: none;
}


.header__links-list-item a {
	letter-spacing: 0.01em;
}


.header__link_active {
	text-decoration: 0;
}

.header__link {
	border-bottom: 1px solid #000;
	text-decoration: 0;

}

/* свойства меню конец */

/* свойства логотипа начало */

.header__logo-image {
	width: 148px;
	height: 105px;
}

/* свойства логотипа конец */

/* свойства адресса начало */
.header__address {
	margin-top: 6px;
    margin-right: 32px;
	justify-self: end;
	height: 98px;
	width: 206px;
}

.header__address  a {
	text-decoration: 0;
	border-bottom: 1px solid #000
}

.address {
	font-style: normal;
	border-bottom: 0;
}
/* свойства адресса конец */

/* конец шапки */



/* секция 1 начало */

.cover {
	position: relative;
	display: block;
	height: 757px;
	width: 1100px;
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat ;
	background-size: cover;
	z-index: -1;
}


.overlay {
	position: absolute;
	height: 757px;
	width: 1100px;
	background-color: #000;
	opacity: 0.6;
}

.cover__title {
	width: 1000px;
	height: 355px;
}

.aligned-text {
	position: absolute;
	inset: 165px 734px 477px 50px;
	font-weight: 700;
	font-size: 100px;
	line-height: 115%;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #fff
}

.aligned-text_center {
	position: absolute;
	inset: 300px 395px 357px 336px;
	font-weight: 700;
	font-size: 100px;
	line-height: 100%;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #fff;
}

.aligned-text_right{
	position: absolute;
	inset: 420px 50px 237px 633px;
	font-weight: 700;
	font-size: 100px;
	line-height: 100%;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	text-align: right;
	color: #fff;
}

.letter-spacing-extended { 
	letter-spacing: 0.6em;
}

.cover__description {
	display: flex;
	z-index: 1;
	color: #fff;
}

.cover__description-text {
	position: absolute;
	inset: 667px 385px 62px 78px;
	font-weight: 400;
	font-size: 22px;
	line-height: 127%;
	text-transform: uppercase;
	color: #fff;
	word-spacing: 18.3px;
}

.bet-button {
	position: absolute;
	inset: 655px 50px 51px 794px;
	background-color: transparent;
	border: 1px solid #fff;
	width: 256px;
	height: 51px;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

/* секция 1 конец */
